*{
    margin: 0;
    padding: 0;

}
button{
    background: #ff0000;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3d5be0;
}
{
    width: 10px;
    height: 10px;
}


